<form class="form-control">
  <input
  class="form-control mb-3"
  type="text"
  name="content"
  placeholder="Enter message"
  [(ngModel)]="newMessage.content"
/>
<button class="btn btn-dark" (click)="createNewMessage(newMessage, 4)">Send</button>
</form>

<div *ngFor="let message of messages">
<p>{{message.content}}</p>
</div>

<div *ngIf="!selectedStudent">
<h3>My kids: </h3>
<div *ngFor = "let kid of myKiddos">
  <p (click)="loadAllReportsForStudent(kid.id)"
     (click)="selectedStudent = kid">
    {{kid.whoami.firstName}} {{kid.whoami.lastName}}</p>
</div>
</div>
<div *ngIf="selectedStudent"><h2>{{selectedStudent.whoami.firstName}}
  {{selectedStudent.whoami.lastName}}</h2><br>
  <!-- <img width="200" src="{{selectedStudent.whoami.imageUrl}}"> -->
</div>
<div *ngFor="let report of studentReports " >


    <p>{{report.createDate | date}}<br>
    {{report.notes}}</p>
</div>
