<div class="container-fluid">
  <div class="row px-5 pb-5 mt-5">
    <h1>About Good Apples</h1>
    <p class="lead">
      Good Apples stresses the importance of character education by providing
      teachers with a tool to record and recognize patterns in commonly
      displayed traits in students. It is meant to show that, in teaching,
      concerns for the intellectual and the moral are ultimately inseparable.
      Teachers are connected with <a [routerLink]="['/resources']">Resources</a> to
      aid in implementing lessons in the classroom to help students practice
      behaviors that reflect universal ethical values.
    </p>
  </div>
  <div class="row px-5 pb-5">
    <div class="col">
      <h2>What We Celebrate</h2>
      <p class="lead"><em>Perseverance</em></p>
      <blockquote class="pb-5">
        “Perseverance refers to the ability to pursue one's goals to completion,
        even in the face of obstacles. It draws on the positive characteristics
        that support well-being. Perseverance relates to students' intellectual
        engagement and is closely connected to optimism, academic self-concept
        and academic buoyancy. Combined, these measures provide information
        about students' self-perceptions of positive emotions and their ability
        to navigate everyday school life.”<br />
        <h6 class="float-end mx-3 mt-1">NSW Department of Education</h6>
      </blockquote>

      <p class="lead"><em>Integrity</em></p>
      <blockquote class="pb-5">
        “The concept of integrity in a person, or an activity, or an
        institution, is intimately connected with notions of wholeness and
        completeness, and the creation of integrity consists in developing an
        awareness of the possibility of greater wholeness and completeness, and
        in creating environments in which they may occur”<br />
        <h6 class="float-end mx-3 mt-1">
          Journal of University Teaching & Learning Practice
        </h6>
      </blockquote>

      <p class="lead"><em>Empathy</em></p>
      <blockquote class="pb-5">
        “Empathy helps students understand the perspectives, needs, and
        intentions of others. It is a building block of morality and a key
        ingredient of successful relationships in school and beyond.”<br />
        <h6 class="float-end mx-3 mt-1">
          Greater Good Science Center, Berkeley
        </h6>
      </blockquote>

      <p class="lead"><em>Accountability</em></p>
      <blockquote class="pb-5">
        “When students hold themselves accountable for their progress … they
        become more empowered and invested in their learning. Students are more
        likely to see failure as an opportunity to learn and are better able to
        accomplish the goals they set for themselves.”<br />
        <h6 class="float-end mx-3 mt-1">Thomas B. Fordham Institue</h6>
      </blockquote>

      <p class="lead"><em>Collaboration</em></p>
      <blockquote class="pb-5">
        “Collaborative learning has been shown to not only develop higher-level
        thinking skills in students, but boost their confidence and self-esteem
        as well. Group projects can maximize educational experience by
        demonstrating the material, while improving social and interpersonal
        skills. Students learn how to work with various types of learners and
        develop their leadership skills.”<br />
        <h6 class="float-end mx-3 mt-1">National Education Association</h6>
      </blockquote>
    </div>
    <div class="col">
      <h2>Challenges We Face</h2>

      <p class="lead float-end"><em>Impulsivity</em></p>
      <blockquote class="pb-3 float-end">
        “Children are naturally impulsive. Their cognitive abilities are still
        developing, so they cannot effectively control their impulses yet. They
        are not yet able to plan their actions and decide rationally. Because
        their view of the world is still centered on the self, they are usually
        not aware of the consequences of their impulsivity. They sometimes have
        no idea that it can affect other people in a negative way.”<br />
        <h6 class="mt-3">SRI Education</h6>
      </blockquote>

      <p class="lead float-end"><em>Apathy</em></p>
      <blockquote class="pb-3 float-end">
        “Educators who place the onus for student apathy solely on the shoulders
        of students and families fail to recognize the school factors that can
        lead to disengagement, frustration, and low achievement. Often, these
        educators' perceptions about what goes on in school differ greatly from
        those of their students.”<br />
        <h6 class="mt-3">Association for Supervision and Curriculum Development</h6>
      </blockquote>

      <p class="lead float-end"><em>Disrespectfulness</em></p>
      <blockquote class="pb-3 float-end">
        “Students with disrespectful and disengaged behaviors are becoming more
        and more prevalent in our schools. These students are exceedingly
        difficult to reach and even more difficult to teach. They often exhibit
        rude behaviors, infringe on others' rights, disrupt the classroom, and
        refuse to engage in leaning. Reducing disrespectful student behavior
        creates successful learners in your classroom.”<br />
        <h6 class="mt-3">Bureau of Education & Research</h6>
      </blockquote>

      <p class="lead float-end"><em>Aggression</em></p>
      <blockquote class="pb-3 float-end">
        “If a child stands out from his or her peers as being highly aggressive,
        we are doing the child and our society no favor by ignoring it. We err
        in assuming that the child will grow out of it or that expression of
        aggression may help to reduce it. Engaging in aggressive, antisocial
        acts is not good for children; it does not help them develop appropriate
        behavior, but increases the likelihood of further aggression,
        maladjustment, and academic and social failure.”<br />
        <h6 class="mt-3">
          James M. Kauffman, Professor of Education - University of Virginia
        </h6>
      </blockquote>

      <p class="lead float-end"><em>Pessimism</em></p>
      <blockquote class="pb-3 float-end">
        “Pessimist students have negative moods and resist in the face of
        challenges. They consider challenge as a threat, so they often have
        negative self-talks about their future and learning. Moreover, they
        ascribe their failures to fixed and unchangeable events outside
        themselves. This negative emotion can ruin all attempts and
        methodologies if teachers do not take immediate action against it.”<br />
        <h6 class="mt-3">Frontiers in Psychology</h6>
      </blockquote>
    </div>
  </div>
</div>
