<div class="container-fluid">
  <div class="row px-5 pb-5 mt-5">
    <h1>About Good Apples</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud. It is meant to show that, in teaching, concerns for
      the intellectual and the moral are ultimately inseparable. (American
      Educational Research Journal)
    </p>
  </div>
  <div class="row px-5 pb-5">
    <div class="col">
      <h2>What We Celebrate</h2>
      <p class="lead"><em>Perseverance</em></p>
      <blockquote class="pb-5">
        “Perseverance refers to the ability to pursue one's goals to completion,
        even in the face of obstacles. It draws on the positive characteristics
        that support well-being. Perseverance relates to students' intellectual
        engagement and is closely connected to optimism, academic self-concept
        and academic buoyancy. Combined, these measures provide information
        about students' self-perceptions of positive emotions and their ability
        to navigate everyday school life.”<br />
        <h6 class="float-end mx-3">NSW Department of Education</h6>
      </blockquote>

      <p class="lead"><em>Integrity</em></p>
      <blockquote class="pb-5">
        “The concept of integrity in a person, or an activity, or an
        institution, is intimately connected with notions of wholeness and
        completeness, and the creation of integrity consists in developing an
        awareness of the possibility of greater wholeness and completeness, and
        in creating environments in which they may occur”<br />
        <h6 class="float-end mx-3">
          Journal of University Teaching & Learning Practice
        </h6>
      </blockquote>

      <p class="lead"><em>Empathy</em></p>
      <blockquote class="pb-5">
        “Empathy helps students understand the perspectives, needs, and
        intentions of others. It is a building block of morality and a key
        ingredient of successful relationships in school and beyond.”<br />
        <h6 class="float-end mx-3 mt-1">
          Greater Good Science Center, Berkeley
        </h6>
      </blockquote>

      <p class="lead"><em>Accountability</em></p>
      <blockquote class="pb-5">
        “When students hold themselves accountable for their progress … they
        become more empowered and invested in their learning. Students are more
        likely to see failure as an opportunity to learn and are better able to
        accomplish the goals they set for themselves.”<br />
        <h6 class="float-end mx-3">Thomas B. Fordham Institue</h6>
      </blockquote>

      <p class="lead"><em>Collaboration</em></p>
      <blockquote class="pb-5">
        “Collaborative learning has been shown to not only develop higher-level
        thinking skills in students, but boost their confidence and self-esteem
        as well. Group projects can maximize educational experience by
        demonstrating the material, while improving social and interpersonal
        skills. Students learn how to work with various types of learners and
        develop their leadership skills.”<br />
        <h6 class="float-end mx-3">National Education Association</h6>
      </blockquote>
    </div>
    <div class="col">
      <h2>Challenges We Face</h2>

      <p class="lead float-end"><em>Impulsivity</em></p>
      <blockquote class="pb-3 float-end">
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud.”<br />
        <h6>A Really Smart and Credible Source</h6>
      </blockquote>

      <p class="lead float-end"><em>Apathy</em></p>
      <blockquote class="pb-3 float-end">
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud.”<br />
        <h6>A Really Smart and Credible Source</h6>
      </blockquote>

      <p class="lead float-end"><em>Disrespectfulness</em></p>
      <blockquote class="pb-3 float-end">
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud.”<br />
        <h6>A Really Smart and Credible Source</h6>
      </blockquote>

      <p class="lead float-end"><em>Aggression</em></p>
      <blockquote class="pb-3 float-end">
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud.”<br />
        <h6>A Really Smart and Credible Source</h6>
      </blockquote>

      <p class="lead float-end"><em>Pessimism</em></p>
      <blockquote class="pb-3 float-end">
        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud.”<br />
        <h6>A Really Smart and Credible Source</h6>
      </blockquote>

    </div>
  </div>
</div>
