<div class="container-fluid mb-3">
  <div class="row px-5">
    <div class="col" *ngIf="!selectedStudents && !selectedStudent">
      <img class="mx-5 mt-5" style="width: 220px;" src="{{loggedInUser.imageUrl}}">
      <h1 class="mx-5 mt-5">Hello, {{ loggedInUser.firstName }}!</h1>
    </div>
    <div class="col mt-1" *ngIf="!selectedStudents && !selectedStudent">
      <button
        class="btn btn-dark mx-1 mt-5 float-end"
        [routerLink]="['/editAccount']"
      >
        Edit Account Details
      </button>
      <button
        class="btn btn-outline-dark mx-1 mt-5 float-end"
        (click)="open(content)"
      >
        Add New Class
      </button>
    </div>
    <div class="col mt-1" *ngIf="selectedStudents">
      <button
        class="btn btn-dark mx-1 mt-5 float-end"
        (click)="open(editClassroomDetails)"
      >
        Edit Class Details
      </button>
      <button
        class="btn btn-secondary mx-1 mt-5 float-end"
        (click)="loadAllStudentsFilter()"
        (click)="open(filteredStudentsList)"
      >
        Add or Remove Students
      </button>
      <button
        (click)="open(createStudentModal)"
        class="btn btn-outline-dark mx-1 mt-5 float-end"
      >
        Add New Student
      </button>
    </div>
    <div class="col mt-1" *ngIf="selectedStudent">
      <button class="btn btn-dark mx-1 mt-5 float-end"
      (click)="open(editStudentDetails)"
      (click)="setEditUser()">
        Edit {{ selectedStudent.whoami.firstName }}'s Details
      </button>
      <button
        class="btn btn-secondary mx-1 mt-5 float-end"
        (click)="open(studentReflections)"
        (click)="loadAllReflectionsForStudent(selectedStudent.id)"
      >
        View {{ selectedStudent.whoami.firstName }}'s Reflections
      </button>
      <button
        class="btn btn-outline-dark mx-1 mt-5 float-end"
        (click)="open(formModal)"
      >
        Add Report for {{ selectedStudent.whoami.firstName }}
      </button>
    </div>

    <div class="row mx-4 mt-5" *ngIf="!selectedStudents && !selectedStudent">
      <h3 class="mb-3">Classes</h3>
      <div class="grid">
        <div class="grid-item text-center" *ngFor="let class of classes">
          <div
            class="card mx-3 mb-5"
            (click)="loadAllStudentsFromClass(class.id)"
          >
            <div class="card-body">
              <h5 class="">{{ class.name | titlecase }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-4 mt-3" *ngIf="selectedStudents">
      <span
        ><button class="btn btn-secondary mb-3" (click)="loadAllClasses()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-caret-left-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
            />
          </svg>
          Back to Classes
        </button></span
      >
      <h3 class="mb-3">Students in {{ selectedClass.name | titlecase }}</h3>
      <div class="grid">
        <div
          class="grid-item text-center"
          *ngFor="let student of selectedStudents"
        >
          <div
            class="card mx-3 mb-5"
            (click)="loadStudentFromClass(selectedClass.id, student.id)"
          >
            <div class="card-body">
              <h5 class="">
                {{ student.whoami.firstName }} {{ student.whoami.lastName }}
                <div *ngIf="student.whoami.imageUrl != null">
                <img width="150" height="180" src="{{student.whoami.imageUrl}}">
                </div>
                <div *ngIf="student.whoami.imageUrl == null">
                <img width="150" height="180" src="https://i.pinimg.com/originals/90/de/25/90de257fdac14d35d66a81ab8e282cad.jpg">
                </div>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-4 mt-3" *ngIf="selectedStudent">
      <span
        ><button
          class="btn btn-secondary mb-3"
          (click)="loadAllStudentsFromClass(selectedClass.id)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-caret-left-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
            />
          </svg>
          Back to Students
        </button></span
      >
      <h3 class="mb-3">
        <img style="width: 220px;" src="{{selectedStudent.whoami.imageUrl}}"><br>
        {{ selectedStudent.whoami.firstName }}
        {{ selectedStudent.whoami.lastName }}
      </h3>

      <!-- REPORT STARTS HERE -->
      <div class="row">
        <!-- WORD CLOUD AND PIE CHART-->
        <div class="col-12">
          <app-report
            [item]="studentReports"

          ></app-report>
        </div>
      </div>

      <h3 class="mt-5">
        All Reports for {{ selectedStudent.whoami.firstName }}
        {{ selectedStudent.whoami.lastName }}
      </h3>
      <div class="row" *ngFor="let report of studentReports">
        <div class="col-6" *ngIf="report.enabled">
          <div
            class="btn btn-dark mx-1 mb-1 mt-1 w-100 text-start"
            (click)="loadSingleReport(report.id)"
          >
            {{ report.createDate | date }}:
            <span *ngFor="let behavior of report.behaviors"
              >{{ behavior.name }}
            </span>
          </div>
          <br />
        </div>

        <!-- DIV TO DISPLAY WHEN A REPORT IS CLICKED -->
        <div
          class="col-6"
          *ngIf="selectedReport && selectedReport.id === report.id"
        >
          <h3>
            Behavior Report for {{ selectedStudent.whoami.firstName }}
            {{ selectedStudent.whoami.lastName }}
          </h3>
          <p>
            <strong>Created: {{ selectedReport.createDate | date }}</strong>
            <span class="float-end">
              <em
                >Last Updated: {{ selectedReport.lastUpdate | date }}
              </em></span
            >
          </p>
          <hr />

          <div *ngFor="let behavior of selectedReport.behaviors">
            <span *ngIf="behavior.behaviorType.name === 'good'"
              ><strong>Celebration: </strong>{{ behavior.name }}</span
            >
            <span *ngIf="behavior.behaviorType.name === 'bad'"
              ><strong>Challenge: </strong> {{ behavior.name }}</span
            >
          </div>

          <strong>Notes: </strong>{{ selectedReport.notes }}
          <hr />
          <strong>Resources:</strong>
          <div *ngFor="let resource of selectedReportResources">
            <a target="_blank" href="{{ resource.link }}">
              {{ resource.title }}
            </a>
          </div>

          <hr />
          <div class="mt-1">
            <button
              class="btn btn-outline-dark mx-1"
              (click)="open(editFormModal)"
            >
              Edit Report Details
            </button>
            <!-- !!!!click event for delete report here!!!!    !!!!click event for delete report here!!!!      !!!!click event for delete report here!!!! -->
            <button
              class="btn btn-danger mx-1"
              (click)="deleteReport(selectedReport.id)"
            >
              Delete Report
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ADD FORM NOTES FOR REPORT  -->
  <ng-template #formModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Behavior Report</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <input
        class="form-control mb-3"
        type="text"
        name="name"
        placeholder="Notes"
        [(ngModel)]="newReport.notes"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="
          modal.close(createNewReport(newReport, selectedStudent?.whoami?.id))
        "
        (click)="open(addBehaviors)"
      >
        Next: Add Behaviors
      </button>
    </div>
  </ng-template>

  <!-- ADD BEHAVIOR MODAL FOR REPORT  -->
  <ng-template #addBehaviors let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Behavior Report</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <div *ngFor="let behavior of behaviors">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="{{ behavior.id }}"
            id="flexCheckDefault"
            (change)="toggleReportBehavior(behavior.id, $event, newReport.id)"
          />
          <label class="form-check-label" for="flexCheckDefault">
            {{ behavior.name }}
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer" *ngIf="selectedStudent">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close(resetNewReport(selectedStudent.id))"
      >
        Add Report
      </button>
    </div>
  </ng-template>

  <!-- EDIT FORM MODAL FOR REPORT  -->
  <ng-template #editFormModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Behavior Report</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <div *ngFor="let behavior of behaviors">
        <div class="form-check">
          <input
            *ngIf="haveBehavior(behavior.id, editReport)"
            class="form-check-input"
            type="checkbox"
            value="{{ behavior.id }}"
            id="flexCheckDefault"
            checked
            (change)="toggleReportBehavior(behavior.id, $event, editReport.id)"
          />

          <input
            *ngIf="!haveBehavior(behavior.id, editReport)"
            class="form-check-input"
            type="checkbox"
            value="{{ behavior.id }}"
            id="flexCheckDefault"
            (change)="toggleReportBehavior(behavior.id, $event, editReport.id)"
          />

          <label class="form-check-label" for="flexCheckDefault">
            {{ behavior.name }}
          </label>
        </div>
      </div>
      <input
        class="form-control mb-3"
        type="text"
        name="name"
        placeholder="Notes"
        [(ngModel)]="editReport.notes"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close(updateReport(editReport, editReport.id))"
      >
        Confirm Edit
      </button>
    </div>
  </ng-template>

  <!-- ADD CLASS FORM MODAL -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Class</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <input
        class="form-control mb-3"
        type="text"
        name="name"
        placeholder="Class Name"
        [(ngModel)]="createdClass.name"
      />
      <input
        class="form-control mb-3"
        type="time"
        name="startTime"
        [(ngModel)]="createdClass.startTime"
      />

      <input
        class="form-control mb-3"
        type="time"
        name="endTime"
        [(ngModel)]="createdClass.endTime"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close(createNewClass(createdClass))"
      >
        Add Class
      </button>
    </div>
  </ng-template>
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!add student modal !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <ng-template #createStudentModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Student</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <input
        class="form-control mb-3"
        type="text"
        name="firstName"
        placeholder="First Name"
        [(ngModel)]="newStudent.firstName"
      />
      <input
        class="form-control mb-3"
        type="text"
        name="lastName"
        placeholder="Last Name"
        [(ngModel)]="newStudent.lastName"
      />
      <input
        class="form-control mb-3"
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="newStudent.username"
      />
      <input
        class="form-control mb-3"
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="newStudent.password"
      />
      <input
        class="form-control mb-3"
        type="hidden"
        name="role"
        value="student"
        [(ngModel)]="newStudent.role"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close(createStudent(newStudent, selectedClass.id))"
      >
        Add Student
      </button>
    </div>
  </ng-template>

  <!-- VIEW STUDENT REFLECTIONS MODAL -->
  <ng-template #studentReflections let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ selectedStudent?.whoami?.firstName }}'s Reflections
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <div *ngFor="let reflection of studentReflectionList">
        <div *ngIf="reflection.enabled">
        <button class="btn btn-danger" (click)="deleteReflection(reflection.id)">Delete</button>
        {{ reflection.createDate | date }} {{ reflection.content }}
      </div>
      </div>
    </div>
    <div class="modal-footer"></div>
  </ng-template>

  <!-- edit classroom details modal -->
  <ng-template #editClassroomDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Classroom Details</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <input
        class="form-control mb-3"
        type="text"
        name="name"
        [(ngModel)]="editClass.name"
      />
      <input
        class="form-control mb-3"
        type="time"
        name="startTime"
        [(ngModel)]="editClass.startTime"
      />

      <input
        class="form-control mb-3"
        type="time"
        name="endTime"
        [(ngModel)]="editClass.endTime"
      />
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger"
      (click)="disableClass(editClass.id)">
        Delete Class
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close(updateClassroom(editClass, editClass.id))"
      >
        Submit Edit
      </button>
    </div>
  </ng-template>
  <ng-template #filteredStudentsList let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add or Remove Existing Students</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <div class="row">
      <div class="col">
        <h4>Add Student</h4>
        <div *ngFor="let student of filteredStudents">

          <button
            class="btn btn-secondary mb-3"
            (click)="addStudentToClass(selectedClass.id, student.id)"
          >
          {{ student.whoami.firstName }} {{ student.whoami.lastName }}
          </button>
        </div>
      </div>
      <div class="col">
        <h4>Remove Student</h4>
        <div *ngFor="let student of selectedStudents">
          <button
            class="btn btn-danger mb-3"
            (click)="removeStudentFromClass(selectedClass.id, student.id)"
          >
          {{ student.whoami.firstName }} {{ student.whoami.lastName }}
          </button>
        </div>
      </div>
    </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>

  <ng-template #editStudentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit {{selectedStudent?.whoami?.firstName}}'s Details</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <label for="firstName">First Name</label>
      <input
      class="form-control mb-3"
      type="text"
      name="firstName"
      [(ngModel)]="editUser.firstName"
    />
    <label for="lastName">Last Name</label>
      <input
      class="form-control mb-3"
      type="text"
      name="lastName"
      [(ngModel)]="editUser.lastName"
    />
    <label for="email">Email</label>
      <input
      class="form-control mb-3"
      type="text"
      name="email"
      [(ngModel)]="editUser.email"
    />
    <label for="phone">Phone Number</label>
      <input
      class="form-control mb-3"
      type="text"
      name="phone"
      [(ngModel)]="editUser.phone"
    />
    <label for="aboutMe">About Me</label>
      <input
      class="form-control mb-3"
      type="text"
      name="aboutMe"
      [(ngModel)]="editUser.aboutMe"
    />
    <div *ngIf="editUser.student">
      <label for="accommodations">Accommodations</label>
      <input
      class="form-control mb-3"
      type="text"
      name="accommodations"
      [(ngModel)]="editUser.student.accommodations"
    />
    <label for="nickname">Nickname</label>
      <input
      class="form-control mb-3"
      type="text"
      name="nickname"
      [(ngModel)]="editUser.student.nickname"
    />
  </div>
</div>

    <div class="modal-footer"
    *ngIf="editUser.student">
      <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close(editOtherUser(editUser.id, editUser.student.id, editUser))"
    >
      Submit Edit
    </button>
  </div>
  </ng-template>
</div>
