<div class="container-fluid">
  <div class="row px-5">
    <div class="col" *ngIf="!selectedStudents && !selectedStudent">
      <h1 class="mx-5 mt-5">Hello, {{ loggedInUser.firstName }}!</h1>
    </div>
    <div class="col mt-1" *ngIf="!selectedStudents && !selectedStudent">
      <button
        class="btn btn-dark mx-1 mt-5 float-end"
        [routerLink]="['/editAccount']"
      >
        Edit Account Details
      </button>
      <button
        class="btn btn-outline-dark mx-1 mt-5 float-end"
        (click)="open(content)"
      >
        Add New Class
      </button>
    </div>
    <div class="col mt-1" *ngIf="selectedStudents">
      <button class="btn btn-dark mx-1 mt-5 float-end">
        Edit Class Details
      </button>
      <button class="btn btn-outline-dark mx-1 mt-5 float-end">
        Add New Student
      </button>
    </div>
    <div class="col mt-1" *ngIf="selectedStudent">
      <button class="btn btn-dark mx-1 mt-5 float-end">
        Edit {{ selectedStudent.whoami.firstName }}'s Details
      </button>
      <button
        class="btn btn-outline-dark mx-1 mt-5 float-end"
        (click)="open(formModal)"
      >
        Add Report for {{ selectedStudent.whoami.firstName }}
      </button>
    </div>

    <div class="row mx-4 mt-5" *ngIf="!selectedStudents && !selectedStudent">
      <h3 class="mb-3">Classes</h3>
      <div class="grid">
        <div class="grid-item text-center" *ngFor="let class of classes">
          <div
            class="card mx-3 mb-5"
            (click)="loadAllStudentsFromClass(class.id)"
          >
            <div class="card-body">
              <h5 class="">{{ class.name | titlecase }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-4 mt-3" *ngIf="selectedStudents">
      <span
        ><button class="btn btn-secondary mb-3" (click)="loadAllClasses()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-caret-left-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
            />
          </svg>
          Back to Classes
        </button></span
      >
      <h3 class="mb-3">Students in {{ selectedClass.name | titlecase }}</h3>
      <div class="grid">
        <div
          class="grid-item text-center"
          *ngFor="let student of selectedStudents"
        >
          <div
            class="card mx-3 mb-5"
            (click)="loadStudentFromClass(selectedClass.id, student.id)"
          >
            <div class="card-body">
              <h5 class="">
                {{ student.whoami.firstName }} {{ student.whoami.lastName }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-4 mt-3" *ngIf="selectedStudent">
      <span
        ><button
          class="btn btn-secondary mb-3"
          (click)="loadAllStudentsFromClass(selectedClass.id)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-caret-left-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
            />
          </svg>
          Back to Students
        </button></span
      >
      <h3 class="mb-3">
        {{ selectedStudent.whoami.firstName }}
        {{ selectedStudent.whoami.lastName }}
      </h3>

      <!-- REPORT STARTS HERE -->
      <div class="row">
        <!-- dummy data -->
        <div class="col-6">
          <img
            src="https://resilienteducator.com/wp-content/uploads/2015/09/Revising-With-Pictures-How-Word-Clouds-Help-Students-Become-Better-Writers.jpg"
            style="max-height: 250px"
          />
        </div>
        <!-- dummy data -->
        <div class="col-6">
          <img
            src="https://files.readme.io/198da10-pie-donut-chart.png"
            style="max-height: 250px"
          />
        </div>
      </div>
      <div class="row" *ngFor="let report of studentReports">
        <div class="col-6">
          <p (click)="loadSingleReport(report.id)">
            {{ report.createDate | date }} {{ report.notes }}
          </p>
          <br />
        </div>
        <div
          class="col-6"
          *ngIf="selectedReport && selectedReport.id === report.id"
        >
          {{ selectedReport.createDate | date }} <br />
          {{ selectedReport.lastUpdate | date }} <br />
          {{ selectedReport.notes }}
          <button class="btn btn-outline-dark mx-1" (click)="open(editFormModal)">Edit Report Details</button>
          <button class="btn btn-danger mx-1">Delete Report</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ADD FORM MODAL FOR REPORT  -->
  <ng-template #formModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Behavior Report</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <div *ngFor="let behavior of behaviors">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="{{ behavior.id }}"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            {{ behavior.name }}
          </label>
        </div>
      </div>
      <input
        class="form-control mb-3"
        type="text"
        name="name"
        placeholder="Notes"
        [(ngModel)]="newReport.notes"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="
          modal.close(createNewReport(newReport, selectedStudent?.whoami?.id))
        "
      >
        Add Report
      </button>
    </div>
  </ng-template>

  <!-- EDIT FORM MODAL FOR REPORT  -->
  <ng-template #editFormModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Behavior Report</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body">
      <div *ngFor="let behavior of behaviors">

        <div class="form-check">
          <input *ngIf="haveBehavior(behavior.id, editReport)"
            class="form-check-input"
            type="checkbox"
            value="{{ behavior.id }}"
            id="flexCheckDefault" checked
            (change)="toggleReportBehavior(behavior.id, $event, editReport.id)"
          />

          <input *ngIf="!haveBehavior(behavior.id, editReport)"
            class="form-check-input"
            type="checkbox"
            value="{{ behavior.id }}"
            id="flexCheckDefault"
            (change)="toggleReportBehavior(behavior.id, $event, editReport.id)"
          />

          <label class="form-check-label" for="flexCheckDefault">
            {{ behavior.name }}
          </label>
        </div>

      </div>
      <input
        class="form-control mb-3"
        type="text"
        name="name"
        placeholder="Notes"
        [(ngModel)]="editReport.notes"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="
          modal.close(createNewReport(newReport, selectedStudent?.whoami?.id))
        "
      >
        Add Report
      </button>
    </div>
  </ng-template>

  <!-- ADD CLASS FORM MODAL -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Class</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <input
        class="form-control mb-3"
        type="text"
        name="name"
        placeholder="Class Name"
        [(ngModel)]="createdClass.name"
      />
      <input
        class="form-control mb-3"
        type="time"
        name="startTime"
        [(ngModel)]="createdClass.startTime"
      />

      <input
        class="form-control mb-3"
        type="time"
        name="endTime"
        [(ngModel)]="createdClass.endTime"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close(createNewClass(createdClass))"
      >
        Add Class
      </button>
    </div>
  </ng-template>
</div>
