#imageMain {
  background-image: url('https://images.pexels.com/photos/5212700/pexels-photo-5212700.jpeg');
  background-size: cover;
  height: 75vh;
}

.quote {
  color: #EFEFEF;
  text-shadow: 2px 2px 5px black;
}

.appleLogo {
  max-height: 30vh;
}
