
<div class="container-fluid">

<button class="btn btn-info m-3">
  Draft new message
</button>

<div class="m-3">
  <form class="form-control">
    <input
    class="form-control mb-3"
    type="text"
    name="content"
    placeholder="Enter message"
    [(ngModel)]="newMessage.content"
  />

  <label for="dropDownTeachers">To:</label>
  <select name="recipientUser" id="dropDownTeachers"
          [(ngModel)] = "newMessage.recipient.id">
    <!-- for -->

    <option *ngFor="let contact of teacherContacts"
            [value]="contact.id">
            {{contact.firstName}} {{contact.lastName}}
    </option>

  </select>

  <button class="btn btn-dark" (click)="createNewMessage(newMessage)">Send</button>
  </form>
</div>

<div *ngFor="let message of messages">
  {{message.recipient.firstName}} <br>
  {{message.content}}
  <hr>
</div>
</div>
